
<div class="container-fluid register-page">
  <div class="row no-gutters">
    <!-- Left side: Purple background with the form -->
    <div class="col-lg-6 purple-background">
      <div class="form-container shadow-sm zoom-in">
        <router-outlet></router-outlet>
      </div>
     
    </div>

    <!-- Right side: Carousel with images -->
  <div class="col-lg-6 d-none d-lg-block m-0 p-0">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="carousel-overlay">
          <img src="/assets/Images/carousel-image (1).jpg" class="d-block w-100" alt="Event 1">
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-overlay">
          <img src="/assets/Images/carousel-image (2).jpg" class="d-block w-100" alt="Event 2">
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-overlay">
          <img src="/assets/Images/carousel-image (3).jpg" class="d-block w-100" alt="Event 3">
        </div>
      </div>
      <!-- Add more carousel items as needed -->
    </div>
   <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>

  </div>
</div>


  </div>
</div>
