footer{
    // border-radius: 100px 100px 0px 0px;
}

.footer-section h6{
color: #3E2458;
font-size: 20px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0em;

}
.footer-section p{
font-size: 16px;
font-weight: 500;
color: #3A3A3A;
cursor: pointer;
    
}
.social img{
margin-right: 6px;
cursor: pointer;
}